@import "tailwindcss";

@theme {
  --color-primary: hsla(221, 97%, 53%, 1);
  --color-white-solid: hsla(0, 0%, 100%, 1);
  --color-azure-34: hsla(215, 16%, 34%, 1);
  --color-progress: hsla(244, 81%, 4%, 0.2);
  --color-progress-bar: hsla(244, 81%, 4%, 1);
  --font-DISPLAY: "Orbitron", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
body {
  background-color: hsla(210, 24%, 98%, 1);
}
.active {
  background-color: #1eda66;
  color: white;
}

